.premium {
    text-align: center;
}

.login-banner {
    width: 100%;
    padding: 10%;
    font-size: 10em;
    color: rgb(51, 205, 95);
    text-align: center;
}

.yolo {
    text-align: center;
}

.tab-puush {
    background-color: #303030;
    color: #adee26;
}