.premium {
    text-align: center;
}

.login-banner {
    width: 100%;
    height: 200px;
    background-size: contain;
    background-image: url('../../img/splash_logo.png');
    background-repeat: no-repeat;
}

.yolo {
    text-align: center;
}

.tab-puush {
    background-color: #303030;
    color: #adee26;
    //flex-grow: 0.5;
}