<?xml version='1.0' encoding='utf-8'?>
<widget id="me.puush.client.universal" version="1.0.0" xmlns="http://www.w3.org/ns/widgets http://phonegap.com/ns/1.0">
	<name>puush</name>
	<description>
		Universal puush client for mobile devices
	</description>
	<author email="will@autodeist.com" href="https://github.com/dowlingw/puush-phonegap">
		Will Dowling
	</author>
	
	<preference name="permissions" value="" />
	
	<access origin="*" />
	
	<preference name="fullscreen" value="false" />
	
	<preference name="orientation" value="default" />
	<preference name="webviewbounce" value="false" />
	<preference name="show-splash-screen-spinner" value="true" />
	<preference name="auto-hide-splash-screen" value="true" />
	<preference name="disable-cursor" value="false" />

	<icon src="icon.png" />

	<plugin name="org.apache.cordova.camera" />
	<feature name="http://api.phonegap.com/1.0/camera" required="true" />

	<plugin name="org.apache.cordova.statusbar" />
	<preference name="StatusBarOverlaysWebView" value="false" />
	<preference name="StatusBarBackgroundColor" value="#000000" />
	<preference name="StatusBarStyle" value="lightcontent" />

	<plugin name="org.apache.cordova.file" />
	
	<platform name="ios">
		<preference name="DisallowOverscroll" value="true" />
		<icon height="57" src="www/res/icon/ios/icon-57.png" width="57" />
		<icon height="72" src="www/res/icon/ios/icon-72.png" width="72" />
		<icon height="114" src="www/res/icon/ios/icon-57-2x.png" width="114" />
		<icon height="144" src="www/res/icon/ios/icon-72-2x.png" width="144" />
		<splash height="480" src="www/res/screen/ios/screen-iphone-portrait.png" width="320" />
		<splash height="960" src="www/res/screen/ios/screen-iphone-portrait-2x.png" width="640" />
		<splash height="1136" src="www/res/screen/ios/screen-iphone-portrait-568h-2x.png" width="640" />
		<splash height="1024" src="www/res/screen/ios/screen-ipad-portrait.png" width="768" />
		<splash height="768" src="www/res/screen/ios/screen-ipad-landscape.png" width="1024" />
	</platform>
</widget>
