<?xml version='1.0' encoding='utf-8'?>
<widget id="me.puush.client.universal" version="1.0.0" xmlns="http://www.w3.org/ns/widgets http://phonegap.com/ns/1.0">
	<name>puush</name>
	<description>
		Universal puush client for mobile devices
	</description>
	<author email="will@autodeist.com" href="https://github.com/dowlingw/puush-phonegap">
		Will Dowling
	</author>
	
	<preference name="permissions" value="" />
	
	<access origin="*" />
	
	<preference name="fullscreen" value="false" />
	
	<preference name="orientation" value="default" />
	<preference name="webviewbounce" value="false" />
	<preference name="auto-hide-splash-screen" value="true" />
	<preference name="disable-cursor" value="false" />

	<icon src="icon.png" />

	<plugin name="org.apache.cordova.camera" />
	<feature name="http://api.phonegap.com/1.0/camera" required="true" />

	<plugin name="org.apache.cordova.file" />
	<plugin name="org.apache.cordova.file-transfer" />

	<platform name="ios">
		<preference name="DisallowOverscroll" value="true" />
		<icon width="57" height="57" src="www/res/icon/ios/icon-57.png" />
		<icon width="72" height="72" src="www/res/icon/ios/icon-72.png" />
		<icon width="114" height="114" src="www/res/icon/ios/icon-57-2x.png" />
		<icon width="144" height="144" src="www/res/icon/ios/icon-72-2x.png" />
		<splash width="320" height="480" src="splash/ios/screen-iphone-portrait.png" />
		<splash width="640" height="960" src="splash/ios/screen-iphone-portrait-2x.png" />
		<splash width="640" height="1136" src="splash/ios/screen-iphone-portrait-568h-2x.png" />
		<splash width="768" height="1024" src="splash/ios/screen-ipad-portrait.png" />
		<splash width="1024" height="768" src="splash/ios/screen-ipad-landscape.png" />
		<splash width="1334" height="750" src="splash/ios/iphone6.png" />
		<splash width="1920" height="1080" src="splash/ios/iphone6plus.png" />
	</platform>
</widget>
