<ion-view>
    <ion-header-bar class="bar-balanced">
        <h1 class="title">My Account</h1>
    </ion-header-bar>
    <ion-content ng-controller="AccountCtrl">

        <div class="item item-divider">
            Account
        </div>
        <label class="item item-input">
            <span class="input-label">Email</span>
            <input type="text" ng-model="user_email" disabled />
        </label>
        <label class="item item-input">
            <span class="input-label">API Key</span>
            <input type="email" ng-model="user_apikey" disabled />
        </label>

        <div class="item item-divider">
            Application
        </div>
        <div class="item item-button-right" ng-click="Reset()">
            Reset Data
            <button class="button button-clear">
                <i class="icon ion-chevron-right"></i>
            </button>
        </div>

    </ion-content>
</ion-view>