<ion-view>
    <ion-header-bar class="bar-balanced">
        <h1 class="title">History</h1>
    </ion-header-bar>
    <ion-content ng-controller="HistoryCtrl">
        <ion-refresher
                pulling-text="Pull to refresh..."
                on-refresh="Update()">
        </ion-refresher>
        <div class="list">

            <a class="item item-avatar" href="#/view/{{item.id}}" ng-repeat="item in history">
                <img src="http://placehold.it/42x42">
                <h2>{{item.filename}}</h2>
                <p>{{item.date}}</p>
            </a>

        </div>
    </ion-content>
</ion-view>