<nav class="bar bar-tab">
    <a class="tab-item" ng-class="{active: isActive('history')}" href="#/history">
        <span class="icon fa fa-clock-o"></span>
        <span class="tab-label">History</span>
    </a>
    <a class="tab-item" ng-class="{active: isActive('upload')}" ng-controller="PuushCtrl" ng-click="TakePicture()">
        <span class="icon fa fa-arrow-up"></span>
        <span class="tab-label">Upload</span>
    </a>
    <a class="tab-item" ng-class="{active: isActive('account')}" href="#/account">
        <span class="icon fa fa-user"></span>
        <span class="tab-label">Account</span>
    </a>
</nav>