<nav class="bar bar-tab">
    <a class="tab-item" ng-class="{active: isActive('history')}" href="#/history">
        <span class="icon icon-list"></span>
        <span class="tab-label">History</span>
    </a>
    <a class="tab-item" ng-class="{active: isActive('upload')}" href="#/upload">
        <span class="icon icon-person"></span>
        <span class="tab-label">Upload</span>
    </a>
    <a class="tab-item" ng-class="{active: isActive('account')}" href="#/account">
        <span class="icon icon-gear"></span>
        <span class="tab-label">Account</span>
    </a>
</nav>