<div class="tabs tabs-icon-top">
    <a class="tab-item" ng-class="{active: isActive('history')}" href="#/history">
        <i class="icon ion-clock"></i>
        Recent
    </a>
    <a class="tab-item" ng-class="{active: isActive('upload')}" ng-controller="PuushCtrl" ng-click="TakePicture()">
        <i class="icon ion-camera"></i>
        Upload
    </a>
    <a class="tab-item" ng-class="{active: isActive('account')}" href="#/account">
        <i class="icon ion-person"></i>
        Account
    </a>
</div>